name: Go

on:
  push:
    branches: [ gomod ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    name: Run integration test
    runs-on: ubuntu-latest
    
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.14
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Build the stack
      run: docker-compose up -d

    - name: Build
      run: go build -v .

    - name: Test HTTP Endpoints
      run: go test -tags integration -v ./app
    
    - name: Build docker image
      if: ${{ success() }}
      env:
        DOCKER_USER: dennis.kern@axelspringer.com
        DOCKER_PASSWD: ${{ secrets.ARTIFACTORY_AUTH_TOKEN }}
        DOCKER_REGISTRY: 'spring-docker.jfrog.io'
        PARENT: 'red'
        PROJECT: 'swerve'
      run: |
        IMAGE_NAME="$DOCKER_REGISTRY/$PARENT/$PROJECT"
        echo "Branch name: $(echo ${GITHUB_REF#refs/heads/})"
        FULL_NAME="$IMAGE_NAME:1.5.2"
        echo "Push to: $(echo ${FULL_NAME})"
        echo "$DOCKER_PASSWD" | docker login -u $DOCKER_USER --password-stdin https://$DOCKER_REGISTRY
        docker build --pull -t $FULL_NAME .
        docker push $FULL_NAME
